html {
    height: 100%;
    border-right: 1px solid #ccc;
    padding: 0;
    margin: 0;
}

body {
    background-color: white;
    font-family: sans-serif;
    margin: 0;
    padding: 12px;
}

.desc {
    font-size: 12px;
    color: #666;
}

button {
    border: none;
    font-size: 16px;
    padding: 8px 16px 6px;
    margin-bottom: 10px;
    border-radius: 8px;
    background-color: rgb(22, 119, 255);
    color: white;

    &:hover {
        background-color: rgb(64, 150, 255);
    }

    &:active {
        background-color: rgb(9, 88, 217);
    }

    &:disabled {
        color: gray;
        background-color: rgba(0, 0, 0, 0.04);

        &:before {
            content: 'â³';
        }
    }
}

#progress-wrap {
    & > ol {
        list-style: none;
        padding: 0;

        > li {
            padding: 10px 10px 8px 8px;
            border-radius: 6px;
            color: #666;

            &.active {
                color: black;
                background-color: aliceblue;
            }
        }
    }


    .progress-item {
        display: flex;
        font-size: 16px;
        line-height: 1.3;

        .progress-seq {
            max-width: 30px;
            min-width: 30px;
            padding-right: 8px;
            text-align: center;
            font-size: 32px;
            font-weight: bold;
        }

        ul.folders {
            padding-left: 20px;
        }

        .desc {
            margin-bottom: 8px;
        }

        .error {
            color: darkred;
        }

        .failed-items {
            padding: 0;

            .failed-item {
                font-size: small;
                padding-top: 8px;

                a {
                    &:hover {
                        text-decoration: underline;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}
